@import "../shared/variables.scss";
@import "../shared/texts.scss";

.footer-container {
  background-color: $VeryDarkViolet;
  .logo-container {
    padding: 3rem;
    text-align: center;
    img {
      filter: brightness(100);
    }
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu {
      margin-bottom: 2rem;
      h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        @include texts(1.2rem, white, 700);
      }
      p {
        width: 100%;
        text-align: center;
        @include texts(1rem, $Gray, 500);
      }
    }
  }
  .icons-container {
    gap: 20px;
    display: flex;
    padding-bottom: 3.5rem;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    .logo-container {
      width: 30%;
      padding: 4rem 0rem;
    }
    .menu-container {
      gap: 3rem;
      width: 37%;
      padding-top: 4rem;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      .menu {
        margin-bottom: 0rem;
        h2 {
          width: 100%;
          text-align: left;
          margin-bottom: 1.5rem;
        }
        p {
          width: 100%;
          text-align: left;
          &:hover {
            color: $Cyan;
            cursor: pointer;
          }
        }
      }
    }
    .icons-container {
      width: 23%;
      padding: 4.1rem 0 0 0;
      align-items: flex-start;
      justify-content: flex-start;
      img {
        width: 1.5rem;
        height: 1.5rem;
        &:hover {
          cursor: pointer;
          filter: invert(60%) sepia(76%) saturate(390%) hue-rotate(131deg) brightness(96%) contrast(98%);
        }
      }
    }
  }
}
