@import "../shared/variables.scss";
@import "../shared/texts.scss";

.nav-mobile-container {
  display: flex;
  justify-content: center;
  padding: 2.5rem 1.7rem 2rem 1.7rem;
  .mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      gap: 6px;
      display: flex;
      flex-direction: column;
      div {
        width: 40px;
        height: 5px;
        position: relative;
        transform: rotate(0);
        background-color: $Gray;
        transition: transform 1s;
      }
    }
    .activeButton {
      .l1 {
        top: 3.3rem;
        right: 1.8rem;
        position: absolute;
        transition: transform 1s;
        transform: rotate(140deg);
      }
      .l2 {
        opacity: 0;
      }
      .l3 {
        top: 3.3rem;
        right: 1.8rem;
        position: absolute;
        transition: transform 1s;
        transform: rotate(-140deg);
      }
    }
  }
  .elements-container {
    top: 110px;
    width: 86%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 1rem 0rem;
    border-radius: 0.8rem;
    transition: opacity 0.5s;
    background-color: $DarkViolet;
    ul {
        display: flex;
        padding: 2rem 1rem;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        li {
            list-style: none;  
            text-align: center;    
            @include texts(1.2rem, white, 700);
        }
        .SignUp {
          width: 80%;
            border-radius: 2rem;
            padding: 0.8rem 0rem;
            background-color: $Cyan;
        }
    }
    hr {
        width: 80%;
        height: 1px;
        margin: auto;
        border: none;
        opacity: 0.2;
        background-color: rgb(214, 214, 214);
    }
  }
  .activeElementsContainer {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}
}
.nav-desktop-container {
    display: none;
}


@media (min-width: 1024px) {

  .nav-mobile-container {
    display: none;
  }
  .nav-desktop-container {
    display: flex;
    padding: 2.5rem 8rem;
    justify-content: space-between;
    @include texts(1rem, $Gray, 700);
    .menu-container {
      gap: 2.5rem;
      display: flex;
      align-items: center;
      ul {
        gap: 1.5rem;
        display: flex;
        list-style: none;
        li {
          &:hover {
            cursor: pointer;
            color: $VeryDarkViolet;
          }
        }
      }
    }
    .buttons-container {
      display: flex;
      align-items: center;
      ul {
        gap: 2rem;
        display: flex;
        list-style: none;
        align-items: center;
        li {
          text-align: center;
          &:last-child {
            background-color: $Cyan;
            color: white;
            padding: 0.6rem 1.7rem;
            border-radius: 2rem;
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
          }
          &:first-child:hover {
              cursor: pointer;
              color: $VeryDarkViolet;
          }
        }
      }
    }
  } 
}