<main class="home-container">
    <article class="information-container">
        <section class="information">
            <h1 class="title">More than just shorter links</h1>
            <p class="text">Build your brand&apos;s recognition and get detailed insights on how your links are performing.</p>
            <div class="button-container">
                <button class="button">Get Started</button>
            </div>
        </section>
        <section class="image-container">
        </section>
    </article>
    <article class="cards-and-link-shortening-container">
        <section class="link-shortening-container">
            <div class="link-shortening" [class.active]="active">
                <input type="text" name="" id="link" placeholder="Shorten a link here..." #link>
                <p>Please add a link</p>
                <button (click)="shortenLink(link.value)">Shorten it!</button>
            </div>
            <div class="shortened-links"></div>
        </section>
    </article>
</main>
