<main class="home-container">
  <article class="information-container">
    <section class="information">
      <h1 class="title">More than just shorter links</h1>
      <p class="text">
        Build your brand&apos;s recognition and get detailed insights on how
        your links are performing.
      </p>
      <div class="button-container">
        <button class="button">Get Started</button>
      </div>
    </section>
    <section class="image-container"></section>
  </article>
  <article class="cards-and-link-shortening-container">
    <section class="link-shortening-container">
      <div class="link-shortening">
        <div class="input-container" [class.active]="active">
          <input
          type="text"
          name=""
          id="link"
          placeholder="Shorten a link here..."
          #link
        />
        <p>Please add a link</p>
        </div>
        <button (click)="shortenLink(link.value); link.value=''">Shorten it!</button>
      </div>
      <div class="shortened-links"></div>
    </section>
    <section class="shortened-link-result-container">
      <div class="result" *ngFor="let item of shortenedLinksContainer; let i = index">
        <div class="full-link">
          <p>{{item.fullLink}}</p>
        </div>
        <div class="shortened-link">
          <p>{{item.shortenedLink}}</p>
          <button (click)="copyButton(item.shortenedLink, i)" [ngClass]="i===selected?'active':'noactive'">{{i===selected?'Copied!':'Copy'}}</button>
        </div>
      </div>
    </section>
    <section class="cards--container">
      <div class="cards-information-container">
        <h2 class="title2">Advanced Statistics</h2>
        <p class="text2">Track how your links are performing across the web with our advanced statistics dashboard.</p>
      </div>
      <div class="cards">
        <div class="line"></div>
        <div [class]="card.class" *ngFor="let card of cardsInformation">
            <div class="icon-container">
                <img class="icon" [src]="card.img" alt="">
            </div>
            <h3 class="title-card">{{card.title}}</h3>
            <p class="text-card">{{card.text}}</p>
        </div>
      </div>
    </section>
  </article>
  <article class="advertisement-contianer">
    <p class="advertisement">Boost your links today</p>
    <button>Get Started</button>
  </article>
</main>


